/* General styles */
body {
  margin: 0;
}
  
html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Rulesets to be matched up with selectors */
  
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header{
  background-image: linear-gradient(to bottom, rgb(129, 0, 0), rgb(255, 0, 0));
  box-sizing: border-box;
  border: 0.2em;
  border-radius: 1em;
  height: 3.125em;
  margin-bottom: 6.7;
  padding: .625em;
  font-size: 1.25em;
  line-height: .9375em;
}

.card footer{
  background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(129, 0, 0));
  box-sizing: border-box;
  border: 0.2em;
  border-radius: 1em;
  height: 3.125em;
  margin-top: 3.5em;
  padding: .625em;
}

.card article img{
  max-height: 100%;
  float: right;
  height: 7.5em;
}

.card header + footer p{
  margin: 0em;
}

.card footer p{
  font-size: 1.25em;
  line-height: .9375em;
}

.card article{
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 4em;
  padding: 0em .75em;
}

.card article p{
  color: aliceblue
}

/* Styles specfic to card container */
/* Styles spcific to header */
/* Styles specific to footer */