/* Playing around with CSS. This will also be my CSS document for my perosnal website */

/* General Styles */

html {
    background-color: #EBEBEB
}

h1{
    color: #376782;
}

h2{
    color: #376782;
}

p{
    color: #2A3547;
}

strong{
    color: #376782;
}
/*
span{
    color: orange;
    font-weight: bold;
}
*/
/* Lists */

li{
    color: #2A3547;
    list-style-type: circle;
}

li em{
    color: #376782;
    font-weight: bold;
}


/* Classes */
/*
.assignments li{
}


/*Links*/
a:link{
    color: #80A8BD;
}

a:visited{
    color: #80A8BD;
}

a:hover{
    text-decoration: none;
    color: #A4BDC7
}