/* Playing around with CSS. This will also be my CSS document for my perosnal website */

/* General Styles */

html {
    background-color: #EBEBEB
}

p{ /** Neue Haas Grotesk Display Pro 55 Roman **/
    color: #2A3547;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}

 /** Headings **/

h1{ /** Neue Haas Grotesk Display Pro 95 Black **/
    color: #376782;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2{ /** Neue Haas Grotesk Display Pro 75 Bold **/
    color: #376782;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{ /** Neue Haas Grotesk Display Pro 75 Bold **/
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4{ /** Neue Haas Grotesk Display Pro 45 Light **/
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5{ /** Neue Haas Grotesk Display Pro 35 Extra Light **/
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h6{ /** Neue Haas Grotesk Display Pro 25 Thin **/
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/** Text Features **/

strong{
    color: #376782;
}

/* Lists */

li{
    color: #2A3547;
    list-style-type: circle;
}

li em{
    color: #376782;
    font-weight: bold;
}


/* Classes */
/*
.assignments li{
}


/*Links*/
a:link{
    color: #80A8BD;
}

a:visited{
    color: #80A8BD;
}

a:hover{
    text-decoration: none;
    color: #A4BDC7
}